body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    
}

.header{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 25px;
    padding-bottom: 85px;
    background-color: #1F2937;
}

.top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    
}

p {
    display: flex;
    gap: 30px;
    padding-right: 60px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 450;   
}

.left-header {
    padding-left: 60px;
    display: flex;
    align-items: center;
    font-weight: 1000;
    color: white;
}

.hero {
    display: flex;
    justify-content: space-between;
    color: white;
    padding-left: 60px;
    padding-right: 60px;
}

.hero-left {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero-button {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 7px 25px 7px 25px;
    width: fit-content;
    color: white;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb5f ;
    width: 600px;
    height: 200px;
}

.container-random {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 75px;

}

h2 {
 padding-bottom: 35px;
}

.boxes {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    }

.box2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap ;
    width: 200px;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.box1 {
    display: flex;
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: #3882F6 solid ;
}



.container-quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb5f;
    height: 500px;
    flex:1;
}

.container-quote p {
    display: flex;
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    text-align: center;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;

}

h4 {
    text-align: end;
    padding-right: 200px;
    padding-bottom: 100px;
   
}


.footer {
    display: flex;
    background-color: #3882F6;
    margin: 60px 60px 60px 60px;
    padding: 35px 20px 35px 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

.left-footer {
    padding: 30px 0px 30px 0px;
    color: white;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.foot-text-1 {
    font-weight: bolder;
}


.right-footer {

    display: flex;
}
.footer-button {
    background-color: #3882F6;
    border: white solid;
    border-radius: 10px; 
    width: 100px;
    height: fit-content;
    padding: 7px 0px 7px 0px;
    color: white;
}
